
@{
    ViewData["Title"] = "ONama";
    Layout = "~/Views/Shared/_LayoutKlijent.cshtml";
}

<head>
    <link  href="~/css/klijent.css" rel="stylesheet"/>
</head>
<br />
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:200%;margin-left:-50%;">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://scan-travel.net/wp-content/uploads/SCAN-Travel-1-1030x579.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <br />
                    <h2 class="display-4" style="color:navajowhite;font-family:inherit">DOBRODOŠLI</h2>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://www.paparazzo.ba/wp-content/uploads/2019/01/putovanje.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4" style="color:black;font-family:'Arial Nova';margin:auto ">sa nama...</h2>

                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://images.squarespace-cdn.com/content/v1/55d64111e4b0a862eed6a419/1524007829841-21C3C49BS8T0YQGZ3X7I/ke17ZwdGBToddI8pDm48kA0wePVlgOGM5yNNrADThjYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc3f5rMIUspMOT17T3MGHdS3s1KwpjdUupKJDR9JNb8i8O932tY93Uq43o4DcCmt6U/new-year-travel.jpg?format=1000w')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4" style="text-align:left; color:black;font-family:'Arial Nova'">do najljepših destinacija!</h2>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

